

header {
    clear: both;
    border-bottom: 1px solid #cccccc;
}

h1 {
   float: left;
   font-size: 30px;
   background-color: #4aaaa5;
   padding: 22px 10px;
   text-align: center;
   position: relative;
   left: 14px;
   font-family: Georgia, 'Times New Roman', Times, serif;

}

ul {
   float: right;
   background-color: #ffffff; 
   padding: 5px;

}


li {
   float: inherit;
   padding: 15px 23px;
   list-style: none;
   border-right: 1px solid gray;
   color: #4aaaa5;
   font-size: 34px;
   font-family: Georgia, 'Times New Roman', Times, serif;
}


main {
    background-image: url(../images/white-waves.png);
    position: relative;
    padding-bottom: 80px;

}

.wrapper {
    width: 960px;
    margin: 0 auto;

}

.navBar {
    background-color: #ffffff;
    overflow: auto;
}

a:link, a:visited {
    color: #4aaaa5;
    text-decoration: none;
}



.mainBody {
    background-color: #ffffff;
    position: relative;
    top: 30px;
    padding: 5px;
    height: 575px;
    border: 1px solid #dddddd;

}

h2 {
    font-size: 40px;
    padding: 15px;
    color: #4aaaa5;
    border-bottom: 1px solid #dddddd;
    font-family: Georgia, 'Times New Roman', Times, serif;

}

.aboutMe {
    padding: 20px;
    font-size: 22px;
    letter-spacing: .5px;
    color: #777777;
    font-family: Arial, Helvetica, sans-serif;
}

#AdamProfile {
    float: left;
    transform: rotate(90deg);
    height: 213px;
    width: 220px;
    padding: 8px;

}

footer {
    background-color: #666666;
    border-top: 5px solid #4aaaa5;
    width: 100%;
    position: fixed;
    bottom: 0;
}

h3 {
    color: #ffffff;
    padding: 15px;
    font-size: 14px;
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

form {
    font-size: 24px;
    color: #777777;
    padding: 30px;
    font-family: Arial, Helvetica, sans-serif;
}

.formInput {
    width: 99%;
    padding: 5px;
    margin-bottom: 10px;
    
}

.formMessage {
    height: 225px;
    margin-bottom: -5px;
}

.submitButton {
    background-color: #4aaaa5;
    border: none;
    text-align: center;
    font-size: 26px;
    color: white;
    font-family: Arial, Helvetica, sans-serif
}

.folioBox {
    position: relative;
    width: 300px;
    height: 200px;
    float: left;
    margin: 10px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

}

#vsfx {
    background-image: url(../images/ClockworkReborn.PNG);

}

#drums {
    background-image: url(../images/RaidersBass.PNG);
    
}

#music {
    background-image: url(../images/Soundcloud.jpg);
}

#voiceover {
    background-image: url(../images/microphone.jpg);
}

 .folioLabel {
     background-color: #4aaaa5;
     color: black;
     font-size: 24px;
     position: absolute;
     top: 138px;
     left: 0;
     width: 100%;
     text-align: center;
     font-family: Arial, Helvetica, sans-serif;
 }

.portfolio {
    clear: both;
}

@media screen and (max-width: 980px) {
    .wrapper {
        width: 90%;

    }

    .folioBox {
        padding: 5px;
        width: 200px;
        height: 100px;
        margin-top: 40px;
    }

    .folioLabel {
        top: 75px;
        font-size: 18px;
    }

    li {
        font-size: 18px;
    }

    h1 {
        font-size: 22px;
    }

    h2 {
        font-size: 24px;
    }

    #drums, #voiceover {
        float: right;
    }

    .mainBody {
        height: 560px;
        margin-bottom: 30px;
        width: 60%;
        margin-left: 60px;
    }

    .aboutMe {
        font-size: 16px;
    }

    #AdamProfile {
        height: 113px;
        width: 120px;
    }

}


@media screen and (max-width: 768px) {
    .wrapper {
        width: 80%;

    }

    h1 {
        left: 0px;
    }

    main {
        padding-bottom: 100px;
    }

    .mainBody {
        height: 530px;
    }

   .aboutMe {
        font-size: 17px;
        letter-spacing: .1px;
    }


}

@media screen and (max-width: 640px) {


    .navBar {
      width: 100%;
    }

    nav {
      margin: 0 auto;
    }

    ul {
        float: none;
        margin: auto;
        width: 100%;
        text-align: center;
    }

    li {
        display: inline;
        border: none;
        float: none;
        padding: 3px 8px;
        font-size: 16px;

    }

    h1 {
      width: 100%;
      float: none;
      padding: 10px 5px;
    }

    h2 {
      text-align: center;
    }

    #AdamProfile {
      float: none;
      display: block;
      margin: 0 auto;
      -webkit-transform: rotate(90deg);
    }

    .aboutMe {
      font-size: 15px;
    }

    #drums, #voiceover, #vsfx, #music {
      float: none;
      display: block;

    }

    .folioBox {
      margin: 10px auto;
    }

    .mainBody {
      height: 650px;
    }

    header {
        position: fixed;
        top: 0;
        width: 100%;
        padding-top: 0px;
        z-index: 1;
    }

    main {
      padding-top: 82px;
    }
  

}





  




